@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.navbar-collapse .navbar-nav .nav-item .nav-link a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(grey);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}
/* Webhost */
.blank {
    width: 400px;
}
/* fim */


/* header */
.navbar-nav {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}

.red {
    border-top: 3px solid var(--red);
}

.blue {
    border-top: 3px solid var(--blue);
}

.orange {
    border-top: 3px solid var(--orange);
}

@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-down {
        position: relative;
        top: 150px;
    }

    .box {
        width: 20%;

    }

    .header p {
        width: 30%;
    }

}

/* Botão Flutuante */
.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fab button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    font-size: 24px;
    color: white;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button:focus {
    outline: none;
}

.fab button.main {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #07a7cf;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.fab button.main:before {
    content: '⏚';
}

.fab ul {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    z-index: 1000;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab ul li {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.fab ul li label {
    margin-right: 10px;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab.show button.main,
.fab.show button.main {
    outline: none;
    background-color: #7716ff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

.fab.show button.main:before,
.fab.show button.main:before {
    content: '↑';
}

.fab.show button.main+ul,
.fab.show button.main+ul {
    bottom: 70px;
}

.fab.show button.main+ul li,
.fab.show button.main+ul li {
    margin-bottom: 10px;
    opacity: 1;
}

.fab.show button.main+ul li:hover label,
.fab.show button.main+ul li:hover label {
    opacity: 1;
}

/* Fim */

.title-container{
    display: grid;
    justify-content: center; 
}

.title{
    margin-top: 18px;
    margin-bottom: 18px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    letter-spacing: 20.8px; 
} 

.title::before{
    content: "";
    display: inline-block;
    background-color: #800000;
    vertical-align: middle;
    margin-right: 14px;
    width: 35px;
    height: 8px;
}

.title::after{
    content: "";
    display: inline-block;
    background-color: #800000;
    vertical-align: middle;
    width: 35px;
    height: 8px;
}

@media (max-width: 768px) {
    .title {
      font-size: 50px;
      margin-right: 2px;
      margin-left: 2px;
    }
    .title::before{
      width: 25px;
      height: 5px;
    }
    .title::after{
      width: 25px;
      height: 5px;
    }
  }
@media (max-width: 480px) {
    .title {
      font-size: 42px;
      margin-right: 2px;
      margin-left: 2px;
      letter-spacing: 17.8px;
    }
    .title::before{
        width: 15px;
        height: 5px;
      }
      .title::after{
        width: 15px;
        height: 5px;
      }
  }
@media (max-width: 350px) {
    .title {
      font-size: 30px;
      margin-right: 2px;
      margin-left: 2px;
      letter-spacing: 14.8px;
    }
    .title::before{
        width: 12px;
        height: 5px;
      }
      .title::after{
        width: 12px;
        height: 5px;
      }
  }

.subtitle{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 7.8px;
    margin-bottom: 51px;
}

.subtitle::after{
    content: "";
    display: block;
    margin: 0 auto;
    
    background-color: #858585;
    width: 289px;
    height: 2px;
}

@media (max-width: 768px) {
    .subtitle {
      font-size: 25px;
      margin-right: 2px;
      margin-left: 2px;
    }
    .subtitle::after{
      width: 270px;
    }
  }
@media (max-width: 480px) {
    .subtitle {
      font-size: 20px;
      margin-right: 2px;
      margin-left: 2px;
    }
    .subtitle::after{
      width: 255px;
    }
  }
@media (max-width: 350px) {
    .subtitle {
        font-size :15px;
        margin-right: 2px;
        margin-left: 2px;
    }
    .subtitle::after{
        width: 200px;
    }
}

.container{
    width: 100%;
}

.ebook-filter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.ordenar-por{
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
}

.ordenar-por label{
    margin-right: 10px;
}

.curso{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link-curso{
    text-decoration: none;
    padding: 10px;
}

.link-curso a{
    text-decoration: none;
}

.link-curso:hover{
    text-decoration: none;
    transform: scale(1.05);
    transition: all .4s ease-in-out;
}

.link-curso:nth-child(n+10){
    display: none;
}

.img-curso{
    max-width: 100%;
    height: 200px;
    max-height: 200px;
}

.txt-curso{
    padding: 10px;
    color: #000;
    font-family: Inter;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search{
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 65px;
}

.searchbar{
    /* width: 95%; */
    padding: 6px 14px !important;
    font-size: 16px !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px !important ;
}

.searchbar:focus{
    border-color: transparent !important;
    box-shadow: none !important;
}

.searchbutton{
    border: none;
    background: none;
}

.veja-mais{
    border: 1px solid #000;
    background: none;
    border-radius: 20px;
    padding: 8px 15px;
}

.button-container{
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
}

.banner-title{
    display: grid;
    justify-content: center;
}