
/* nav-bar */

    .navbar-nav {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}
  .nav-grid { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  } 
  .hoverLink{
    font-weight: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #000000;
    text-transform: uppercase;
    text-decoration: none;  

    display: inline-block;
    position: relative;
  }
  .hoverLink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .hoverLink:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navDiv{
    display: flex;
    justify-content:space-between;
  }
  
  