@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

/* Webhost */
.blank {
    width: 400px;
}

/* nav-bar */

.navbar-nav {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

.nav-grid {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.hoverLink {
    font-weight: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #000000;
    text-transform: uppercase;
    text-decoration: none;

    display: inline-block;
    position: relative;
}

.hoverLink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hoverLink:hover:after {
    width: 100%;
    left: 0;
}

.navDiv {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

img {
    float: right;
}



@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}

.red {
    border-top: 3px solid var(--red);
}

.blue {
    border-top: 3px solid var(--blue);
}

.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-down {
        position: relative;
        top: 150px;
    }

    .box {
        width: 20%;

    }

    .header p {
        width: 30%;
    }

}


/* Fim */

/* CSS CONTATO */

.container-contato {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* fim */

/* Css do Ebook Especifico */
.container .row .col-sm a {
    width: 40px;
}

/* Fim */


.conteudo {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.conteudo p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.nextEvents h2 {
    font-family: Roboto, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    position: relative;
}

.nextEvents h2::after {
    content: "";
    position: absolute;
    left: 9%;
    bottom: 0;
    width: 283px;
    height: 3px;
    background-color: #800000;
}

.nextEventsContent {
    display: flex;
    gap: 10px;
}

.nextEvents p{
    font-size: 35px;
}

.eventsImg img {
    max-width: 800px;
}

.eventsTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventDateTime {
    display: flex;
    justify-content: space-between;
}

.eventAddress,
.eventDate {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.eventDescription {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.finishEvents {
    margin-top: 100px;
}

.finishEvents h2 {
    font-family: Roboto, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    position: relative;
}

.finishEvents h2::after {
    content: "";
    position: absolute;
    left: 9%;
    bottom: 0;
    width: 283px;
    height: 3px;
    background-color: #800000;
}

.imagem-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.imagem-galeria li {
    flex: auto;
    height: 300px;
}

.imagem-galeria li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}